.stop__main_container{
    /* border:1px solid red; */
    /* background: url("../../images/business/stop_image.svg");
    background-size: cover;
    background-repeat: no-repeat;
 */
    width:80%;
    margin:auto;
    color:#3F4255;
    text-align: center;
    margin-top:-3rem;
}
.stop_img{
    width:80%;
    aspect-ratio: 1.1/1;
    margin-bottom: -6rem;;
}

.stop_data{
    font-size:46px;
    font-weight:700;
    line-height:120%;
}
button{
    margin:auto;
}

@media (max-width:920px){
    .stop_data{
        font-size: 20px;
    }
    #get_started_btn{
        margin: auto;
    }
    .stop_img{
        margin-bottom: -2rem;
        width:90%;
    }
}