@import url("./b_hero.css");
@import url("../header.css");
@import url("../faq.css");
@import url("../footer.css");
@import url("../main.css");

/* new parts */
@import url("./dine.css");
@import url("./benefits.css");
@import url("./help.css");
@import url("./service.css");
@import url("./benefits2.css");


.main_title{
    font-size:var(--text-xlarge);
    text-align:center;
    font-weight:700;
    line-height:120%;
    color:#3F4255;
}

.main_description{
    font-size:16px;
    font-weight:400;
    text-align:center;
    line-height:150%;
    font-family: "Inter";
    color:#7B7D8A;
    margin-top:-2rem;
}

@media (max-width:950px){
    .main_title{
        font-size:var(--text-medium);
        width:90%;
        margin:auto
    }
    .main_description{
        font-size:12px;
        margin-top:0.5rem;
        width:90%;
        margin:auto;
    }
}